
body {
  margin:0px;
  color: #1E1F20;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.nav {
  background-color: #ffffff;
  display: block;
}

.content {
  background-color: #F0F0F0;
  /* flex: 1 0 0; */
  margin: 0 50px;
  padding: 0 35px;
}

.footer {
  background-color: #1E1F20;
  height: 30px;
  padding: 0 10px;
}
