
body {
  margin:0px;
  color: #1E1F20;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.nav {
  background-color: #ffffff;
  
}

.content {
  background-color: #F0F0F0;
  padding: 0 35px;
  min-height: 100vh;
}

.footer {
  background-color: #1E1F20;
  height: 30px;
  padding: 0px;
}
