
.musicCard {
    padding:15px 10px;
}

.musicCards {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(2, 250px);
}


.musicDetail {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-template-rows: repeat(1, 600px);
}

.musicDetail .albumDetails .musicTitle {
    padding: 8px;
    margin: 0px;
    background-color: #42DC3D;
    color: white;
}

.musicDetail .albumDetails .artist {
    padding-bottom: 8px;
    margin: 0px;
}